/* # index.php # */

body{
    background-image: url("../img/section-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}


/* # register.php # */

.card-register{
    background-color: black;
}

/* # footer.php # */

.size{
    width: 20px;
    height: 20px;
}

.none{
    text-decoration: none;
}